<h1>タスクの編集</h1>

<%= form_with(model: @task, local: true) do |f| %>
 <% if @task.errors.any? %>
    <div class="alert alert-warning">
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_title">
   <%= f.label :title %>
   <p><%= f.text_field :title %></p>
  </div>
  <div class="task_content">
   <%= f.label :content %>
   <p><%= f.text_field :content %></p>
  </div>
  <div class="task_deadline">
   <%= f.label :deadline %>
   <p><%= f.date_field :deadline %></p>
  </div>
  <div class="task_status">
    <%= f.label :status %>
    <p><%= f.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]] %></p>
  </div>
  <div class="task_priority">
    <%= f.label :priority %>
    <p><%= f.select :priority, [["高", "高"], ["中", "中"], ["低", "低"]],include_blank: true %></p>
  </div>  <%= f.submit "Update my task" %>
<% end %>
<%= link_to '一覧へ', tasks_path %>
