<h1>Tasks Index</h1>
<%= form_with url: tasks_path, method: :get, local: true do |f| %>
<%= f.label :search, '検索' %>
<%= f.text_field :search %>
<%= f.label :sutatus, 'ステータス' %>
<%= f.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]],include_blank: true  %>

<%= f.submit 'Search' %> <%= link_to 'Clear', tasks_path %>
<% end %>

<table>
  <tr>
    <th>タスク</th>
    <th>内容</th>
    <th><%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %></th>
    <th><%= link_to "作成日時でソートする", tasks_path(sort_created: "true") %></th>
    <th>進捗</th>
  </tr>

  <% @tasks.each do |task| %>
  <tr>
    <td> <%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= l task.deadline, formats: :short %></td>
    <td><%= l task.created_at, formats: :short %></td>
    <td><%= task.status %></td>
    <td><%= link_to 'show', task_path(task.id) %></td>
    <td><%= link_to 'edit', edit_task_path(task.id) %></td>
    <td><%= link_to '削除', task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' },class: "btn btn-default" %></td>
  </tr>
  <% end %>
</table>
<%= link_to '新規タスク作成', new_task_path %><br>
