<h1>Tasks#index</h1>
<% @tasks.each do |task| %>
 <%= task.title %><br>
 <%= task.content %><br>
 <%= link_to 'show', task_path(task.id) %><br>
 <%= link_to 'edit', edit_task_path(task.id) %><br>
<% end %>
<%= link_to 'newtask', new_task_path %><br>
